<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Mu (Jason) He">
<title>{{PAGE_TITLE}}</title>

<!-- CSS only -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
<h1 style="text-align: center; padding: 10px">INDEX</h1>

<div class="list-group w-auto">
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">OAUTH CODE</h6>
          <p class="mb-0 opacity-75 text-break">{{code}}</p>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Access Token</h6>
          <p class="mb-0 opacity-75 text-break">{{access_token}}</p>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Refresh Token</h6>
          <p class="mb-0 opacity-75">{{refresh_token}}</p>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">User Name</h6>
            <p class="mb-0 opacity-75">{{user_name}}</p>
          </div>
        </div>
      </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
            <h6 class="mb-0">User Email</h6>
            <p class="mb-0 opacity-75">{{user_email}}</p>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
            <h6 class="mb-0">User ID</h6>
            <p class="mb-0 opacity-75">{{user_id}}</p>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
            <h6 class="mb-0">User SIS ID</h6>
            <p class="mb-0 opacity-75">{{user_sis_id}}</p>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
            <h6 class="mb-0">Course Title</h6>
            <p class="mb-0 opacity-75">{{course_title}}</p>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
            <h6 class="mb-0">Course ID</h6>
            <p class="mb-0 opacity-75">{{course_id}}</p>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
            <h6 class="mb-0">Course SIS ID</h6>
            <p class="mb-0 opacity-75">{{course_sis_id}}</p>
            </div>
        </div>
    </a>

    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
          <h6 class="mb-0">Students Enrolled</h6>
          {% for x in student_names %}
          <p class="mb-0 opacity-75">{{x['name']}}({{x['id']}})</p>
          {% endfor %}
          </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
          <h6 class="mb-0">Student Submissions</h6>
          {% for x in student_submissions %}
          <br>
          <p class="mb-0 opacity-75">Submission id :{{x['id']}},User-Id:{{x['user_id']}},Grader-Id:{{x['grader_id']}}</p>
          {% endfor %}
          </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
          <h6 class="mb-0">Submission Assessment</h6>
          <p class="mb-0 opacity-75">{{submission_assessment}}</p>
          </div>
      </div>
    </a>
  </div>

  <form>
   <div class="list-group w-auto">
      <form name="assessment" action="">
      <label for="student">Select Student:</label>
        <select name="student" id="student">
          <div>
            {% for x in student_names %}
            <option >{{x['name']}}({{x['id']}})</option>
            {% endfor %}
          </div>
        </select>
        <br><br>

       <label for="assignment">Select Assignment:</label>
        <select name="assignment" id="assignment">
          <div>
            {% for x in course_total_assignments %}
            <option >{{course_total_assignments[0]['id']}}</option>
            {% endfor %}
          </div>
        </select>
        <br><br>

        <label >Sub1</label>
      <input type="radio"  id="Sub1p"  name="Sub1" value="pass" />
      <input type="radio"  id="Sub1f"  name="Sub1" value="fail" /><br>

         <label >Sub2</label>
      <input type="radio" id="Sub2p"  name="Sub2" value="pass" />
      <input type="radio" id="Sub2f"  name="Sub2" value="fail" /><br>


         <label >Sub3</label>
      <input type="radio" id="Sub3p"  name="Sub3" value="pass" />
      <input type="radio" id="Sub3f"  name="Sub3" value="fail" /><br>

         <label >Sub4</label>
      <input type="radio" id="Sub4p"  name="Sub4" value="pass" />
      <input type="radio" id="Sub4f"  name="Sub4" value="fail" />

        <br><br>
         <button type="submit" formmethod="post" formaction=""  id="submit">Submit</button>
      </form>
    </div>

</form>

</table>


<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

</html>
